<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Lorem ipsum dolor sit amet.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa aperiam qui voluptas nemo aut deleniti incidunt quasi in. Ullam, cupiditate. Illo nesciunt enim voluptatem, cumque vero maxime perspiciatis dolores a.</p>
</body>
</html>